


<form>
    <div class="d-flex justify-content-between">
        <p class="position-fixed" style="left:10px; z-index:1">
            <a class="btn btn-secondary m-1" asp-controller="Devis" asp-action="index"><i class="bi bi-arrow-left"></i>Back</a>
        </p>
    </div>
</form>

<div class="bgNotFound">

    <div class="text-center">
        <h1 class="display-4">Desole</h1>
        <h1 class="display-3">Aucune voiture ne correspond a votre recherche</h1>
        <p>Une voiture, bien plus qu’un simple moyen de transport.</p>
    </div>
</div>
