@model WebApplication3.Models.roue.Pneus

@{
    ViewData["Title"] = "EditPneus";
}

<h1>EditPneus</h1>

<h4>Pneus</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="EditPneus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prix" class="control-label"></label>
                <input asp-for="prix" class="form-control" />
                <span asp-validation-for="prix" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-around" style="padding-top: 20px; padding-bottom : 20px">
                <input type="submit" value="Update" class="btn btn-outline-primary" />
                <a class="btn btn-outline-success align-middle" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <!--Ajouter la previsualisation d'une photo de profile-->
        <div class="form-group text-center">
            <img id="PhotoProfilePreview" src="@Model.image" style="max-width: 530px;max-height: 300px;" />
        </div>
        <!--Fin-->
    </div>
</div>