@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />


<hr />
<div class="d-flex justify-content-center">
    <p class="d-flex"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="padding:0">go home</a> </p>
</div>
